body {
  margin: 0px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  padding: 3px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.slider {
  width: 100%;
  padding: 2px 0px;
}

.slider img {
  height: 530px;
}

.lien {
  height: 1px;
  width: 100%;
  margin: 20px 0px;
  background-color: gray;
}

.no-prod {
  margin-left: 50px;
  font-size: 30px;
  margin-top: 50px;
  font-family: "Times New Roman", Times, serif;
}

.plus-minus {
  display: flex;
  justify-content: center;
}

.plus {
  margin-right: 10px;
  cursor: pointer;
}
.minus {
  cursor: pointer;
  margin-left: 10px;
}
.footer {
  margin: 0px;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 10px;
}
